.intro2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 601.5px;
  position: relative;
  width: 1200.25px;
  margin-top: -1px;
}

.intro2 .row {
  align-items: center;
  display: flex;
  height: 301.75px;
  position: relative;
  width: 1200.25px;
}

.intro2 .column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 301px;
  position: relative;
  width: 900px;
}

.intro2 .div {
  align-items: flex-end;
  display: flex;
  height: 151px;
  position: relative;
  width: 900px;
}

.intro2 .section {
  align-items: center;
  background-color: var(--color-base);
  border: 1px solid;
  border-color: var(--color-inactive);
  display: flex;
  gap: 10px;
  height: 150.88px;
  padding: 52px 48px;
  position: relative;
  width: 750.38px;
}

.intro2 .text-wrapper {
  color: #ffffff;
  font-family: "Satoshi-Medium", Helvetica;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.56px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.intro2 .section-2 {
  background-color: var(--color-base);
  border: 1px solid;
  border-color: var(--color-inactive);
  height: 150.88px;
  margin-left: -1px;
  margin-right: -0.25px;
  position: relative;
  width: 150.88px;
}

.intro2 .row-2 {
  align-items: flex-end;
  display: flex;
  height: 150.88px;
  margin-right: -0.25px;
  margin-top: -1px;
  position: relative;
  width: 900.25px;
}

.intro2 .section-3 {
  background-color: var(--color-base);
  border: 1px solid;
  border-color: var(--color-inactive);
  height: 150.88px;
  position: relative;
  width: 150.88px;
}

.intro2 .section-4 {
  background-color: var(--color-base);
  border: 1px solid;
  border-color: var(--color-inactive);
  height: 150.88px;
  margin-left: -1px;
  position: relative;
  width: 150.88px;
}

.intro2 .div-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: var(--color-base);
  border: 1px solid;
  border-color: var(--color-inactive);
  display: flex;
  gap: 10px;
  margin-left: -1px;
  padding: 52px 48px;
  position: relative;
  width: 600.5px;
}

.intro2 .column-2 {
  background-color: var(--color-base);
  border: 1px solid;
  border-color: var(--color-inactive);
  height: 301px;
  margin-left: -1px;
  position: relative;
  width: 301px;
}

.intro2 .row-3 {
  align-items: flex-end;
  display: flex;
  height: 150.88px;
  margin-top: -1px;
  position: relative;
  width: 1200.25px;
}

.intro2 .section-5 {
  background-color: var(--color-active);
  border: 1px solid;
  border-color: var(--color-inactive);
  height: 150.88px;
  position: relative;
  width: 150.88px;
}

.intro2 .text-wrapper-2 {
  color: var(--color-base);
  font-family: "Satoshi-Medium", Helvetica;
  font-size: 64px;
  font-weight: 500;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
  white-space: nowrap;
}

.intro2 .section-6 {
  align-items: center;
  background-color: var(--color-base);
  border: 1px solid;
  border-color: var(--color-inactive);
  display: flex;
  gap: 10px;
  height: 150.88px;
  margin-left: -1px;
  padding: 52px 48px;
  position: relative;
  width: 750.62px;
}

.intro2 .section-7 {
  align-items: center;
  align-self: stretch;
  background-color: var(--color-base);
  border: 1px solid;
  border-color: var(--color-inactive);
  display: flex;
  gap: 10px;
  margin-left: -1px;
  padding: 52px 48px;
  position: relative;
  width: 750.62px;
}

.intro2 .text-wrapper-3 {
  color: #ffffff;
  font-family: "Satoshi-Medium", Helvetica;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -8.38px;
  margin-top: -0.56px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
} 